<!DOCTYPE html>
<html id="html" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quizzy</title>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="/assets/app/quizzy-bundle.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
<!--<div id="quizzy" data-quiz-id="agilite"></div>-->
<div id="quizzy"></div>
</body>
</html>